.card {
    padding: 30px;
    margin: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    width: 105%;
}

.card-steps {
    font-weight: 700;
    padding: 10px;
    margin: 10px;
    background-color: lightyellow;
    border-radius: 10px;
}
